<h1>Sing In</h1>

<link rel="stylesheet" href="/css/user_sign_in.css">




<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="your Email" required>
    <input type="password" name="password" placeholder="password" required>

    <input type="submit" value="Sing In">
  
</form>


<!-- <p>
    <a href="/users/auth/google"> Google Sign In/Sign Up</a>
</p> -->










<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<div class="google-btn">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
  </div>
  <p class="btn-text"><a href="/users/auth/google"><b>Sign in with google</b> </a></p>
</div>